.contact-page-container{
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Inter;
    margin-right: 8px;
}

.contact-info{
    font-size: 48px;
}

.period-2 {
    color: #10840D
}
