.hero-page-container{
    /* background-color: #F7A702; */
    background-color: green;
    height: 100vh;
}

.header-container {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content:space-between
}

.about-contact-container {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.header-container {
    font-family: Inter;
    color: black;
}


@media screen and (min-width: 768px) {
    .company-name-container {
        font-size: 36px;
        margin-top: 16px;
        font-weight: 400;
    }
}

@media screen and (min-width: 992px) {
    .company-name-container {
        font-size: 52px;
        margin-top: 16px;
        font-weight: 600;
    }
}

.company-name-container {
    letter-spacing: 0.00rem;
}


.window {
    position: absolute;
    width: 200px;
    height: 400px;
    margin: 0 auto;
    z-index: 999;
}

.about-contact-container {
    font-size: 36px;
    display: flex;
    align-items: end;
}

.item-1{
    margin-right: 100px;
}

.item-1:hover, .item-2:hover {
    cursor: pointer;
    color: green;
}

.item-1, .item-2 {
    letter-spacing: 0.25rem;
}
